section.bespoke-slide.bespoke-inactive.bespoke-after.bespoke-after-10(data-bespoke-fx-transition='scale-down-out-move-in')
        pre
         .judul Pendahuluan
         div.img
           img(src="images/vga.jpg" width="500px" height="100px")
          div.isi2
            | VGA, singkatan dari Video Graphics Adapter, adalah standar tampilan komputer
            | 
            | analog yang dipasarkan pertama kali oleh IBM pada tahun 1987.
            | 
            | Walaupun standar VGA sudah tidak lagi digunakan karena sudah diganti
            | 
            | oleh standar yang lebih baru, VGA masih diimplementasikan pada Pocket PC.
            | 
            | VGA merupakan standar grafis terakhir yang diikuti oleh mayoritas pabrik
            | 
            | pembuat kartu grafis komputer.Tampilan Windows sampai sekarang masih menggunakan 
            | 
            | modus VGA karena didukung oleh banyak produsen monitor dan kartu grafis.
            | 
            | Kartu VGA berguna untuk menerjemahkan keluaran komputer ke monitor.
            | 
            | Untuk proses desain grafis atau bermain permainan video, diperlukan 
            | 
            | kartu grafis yang berdaya tinggi.