section.bespoke-slide.bespoke-inactive.bespoke-after.bespoke-after-19(data-bespoke-fx-transition='pull')
        pre
         .judul2 Jenis" dari graphic card sebuah komputer
         div.img
           img(src="images/jenis.gif" width="500px" height="200px")
          div.isi2
            | 
            | 
            | 
            | 
            | 
            | 
            | Penggunaan graphic card disesuaikan dengan keperluan
            | 
            | dan penggunaan komputer tersebut.Biasanya untuk keperluan
            | 
            | hiburan game maupun untuk proses design gambar maupun video,
            | 
            | akan membutuhkan graphic card dengan kualitas yang baik.
            | 
            | Sebuah graphic card disebut pula dengan istilah video card,
            | 
            | video adapter, display card, graphics board, display adapter, 
            | 
            | atau juga graphics adapter.
            | 
            | Adapun berikut ini adalah jenis-Jenis dari graphic card sebuah komputer: