section.bespoke-slide.bespoke-inactive.bespoke-after.bespoke-after-20(data-bespoke-fx-transition='fold')
        pre
         .judul2 VGA ISA
         div.img
           img(src="images/7.jpg" width="500px" height="200px")
          div.isi2
            | 
            | 
            | 
            | 
            | 
            | 
            | Kartu VGA ISA adalah jenis kartu VGA yang dimasukkan pada slot ekspansi 
            | 
            | ISA (Industry Standard Architecture) bus yang masih bersistemkan
            | 
            | I/O 8-bit atau 16-bit.Kartu VGA jenis ini sekarang sudah 
            | 
            | tidak pernah lagi dipergunakan,karena selain kecepatan transfer
            | 
            | datanya sangat lambat,tampilan kehalusan gambar serta kombinasi warna 
            | 
            | yang dihasilkannya pun juga sangat terbatas.Teknologi slot 
            | 
            | ekspansi ISA bus dengan sistem I/O 8-bit pertama kali diperkenalkan
            | 
            | pada tahun 1981, sedangkan teknologi slot ekspansi ISA bus 
            | 
            | dengan sistem I/O 16-bit pertama kali diperkenalkan pada tahun 1984.