section.bespoke-slide.bespoke-inactive.bespoke-after.bespoke-after-21(data-bespoke-fx-transition='unfold')
        pre
         .judul2 VGA EISA
         div.img
           img(src="images/eisa.jpg" width="500px" height="100px")
          div.isi2
            | 
            | Kartu VGA EISA adalah jenis kartu VGA yang dipasang pada slot ekspansi EISA
            | 
            | (Extended Industry Standard Architecture) bus yang adalah 32-bit sistem I/O-nya.
            | 
            | Kartu VGA jenis ini sekarang sudah tidak pernah lagi dipergunakan, 
            | 
            | sama seperti Kartu VGA ISA yang memiliki keterbatasan pada kecepatan, 
            | 
            | kehalusan gambar, serta kombinasi warna yang dihasilkannya. 
            | 
            | Teknologi slot ekspansi EISA bus dengan sistem I/O 32-bit ini 
            | 
            | pertama kali dirilis pada tahun 1988 oleh "Gang of Nine" 
            | 
            | (sebuah konsorsium dari vendor pembuat kompatibelnya IBM PC), 
            | 
            | dengan nilai tegangannya 5 volt dan 12 volt, 
            | 
            | kecepatan clock-nya 8,33MHz, dan kecepatan transfernya 32MB/s.