section.bespoke-slide.bespoke-inactive.bespoke-after.bespoke-after-22(data-bespoke-fx-transition='room')
        pre
         .judul2 VGA PCI
         div.img
           img(src="images/8.jpg" width="500px" height="100px")
          div.isi2
            | 
            | Kartu VGA PCI adalah jenis kartu VGA yang dipasang pada slot ekspansi PCI 
            | 
            | (Peripheral Component Interconnect) bus yang adalah 32-bit
            | 
            | atau 64-bit sistem I/O-nya.Kartu VGA jenis ini 
            | 
            | sekarang sudah jarang sekali dipergunakan,karena 
            | 
            | adanya keterbatasan pada fitur-fiturnya.Teknologi slot
            | 
            | ekspansi PCI bus dengan sistem I/O 32-bit atau 64-bit pertama kali dipakai
            | 
            | pada tahun 1993. Ciri-ciri slot ekspansi PCI bus ini adalah bahwa pada
            | 
            | bagian depan slot-nya terdapat lekukan, dan jenis pin-nya lurus secara vertikal.