section.bespoke-slide.bespoke-inactive.bespoke-after.bespoke-after-23(data-bespoke-fx-transition='cube')
        pre
         .judul2 VGA AGP
         div.img
           img(src="images/9.jpg" width="500px" height="100px")
          div.isi2
            | 
            | Kartu VGA AGP adalah jenis kartu VGA yang ditancapkan pada 
            | 
            | slot ekspansi AGP (Accelerated Graphics Port) bus yang 
            | 
            | adalah 128-bit atau 256-bit sistem I/O-nya. 
            | 
            | Kartu VGA AGP ini awalnya dibuat karena hendak meningkatkan
            | 
            | transfer data terhadap memori secara signifikan dari CPU 
            | 
            | ke perangkat "tampilan" (bahasa Inggris: display), 
            | 
            | sehingga dengan begitu dibuatlah slot AGP 
            | 
            | guna memasangkan kartu VGA jenis AGP ini.