section.bespoke-slide.bespoke-inactive.bespoke-after.bespoke-after-24(data-bespoke-fx-transition='carousel')
        pre
         .judul2 VGA PCIe
         div.img
           img(src="images/10.jpg" width="500px" height="200px")
          div.isi2
            | 
            | 
            | 
            | 
            | 
            | 
            | 
            | PCI Express (PCIe), merupakan graphic card yang dimasukkan 
            | 
            | pada expansion slot PCIe (Peripheral Component Interconnect Express)
            | 
            | bus yang adalah berangkaian seri sistem I/O nya 
            | 
            | sdengan kecepatan transfernya adalah mencapai hingga 32 GByte/s