section.bespoke-slide.bespoke-inactive.bespoke-after.bespoke-after-25(data-bespoke-fx-transition='sides')
        pre
         .judul2 Bagaimana Cara VGA Bekerja?
         div.img
           img(src="images/Works.gif" width="500px" height="200px")
          div.isi2
            | 
            | 
            | 
            | 
            | 
            | 
            | Tentu jika VGA komputer Anda tidak memiliki kualitas ataupun kapasitas
            | 
            | yang cukup dibutuhkan bermain game tersebut, tampilannya akan jelek atau
            | 
            | tidak jernih. Akan berbeda jika kebutuhan akan VGA yang disesuaikan dengan
            | 
            | kualitas dan juga kapasita pada game tersebut tentu tampilan 
            | 
            | gambar yang dihasilkan akan sangat bagus sekali. 
            | 
            | Terlebih lagi ketika bermain game biasa nya
            | 
            | membutuhkan kapasitas VGA yang cukup besar dan tinggi.