section.bespoke-slide.bespoke-inactive.bespoke-after.bespoke-after-27(data-bespoke-fx-transition='flip')
        pre
         .judul2
         div.img
           img(src="images/tebakar.gif" width="500px" height="200px")
          div.isi2
            | 
            | 
            | 
            | 
            | 
            | 
            | Biasanya jika Anda memaksakan VGA yang kualitas nya rendah untuk bermain game
            | 
            | yang membutuhkan grafis yang tinggi maka komputer akan error. 
            | 
            | Adapun biasanya produsen yang menyediakan VGA dengan kualitas yang baik 
            | 
            | yakni seperti ATI ataupun Nvidia serta Radeon. 
            | 
            | VGA juga dapat mengacu kepada konektor VGA 15-pin yang masih  
            | 
            | digunakan sampai sekarang ini untuk mengantarkan sinyal 
            | 
            | video analog pada monitor. Standard VGA resminya telah digantikan 
            | 
            | oleh standard XGA dari IBM, namun pada kenyataannya 
            | 
            | VGA justru digantikan lagi oleh Super VGA.