section.bespoke-slide.bespoke-inactive.bespoke-after.bespoke-after-28(data-bespoke-fx-transition='push')
        pre
         .judul2 Mari Kita Lihat Penjelasan Video Berikut :
         div.img2
           video(width="600", height="400", controls="controls")
             source(src="images/2.mp4", type="video/mp4")