section.bespoke-slide.bespoke-inactive.bespoke-after.bespoke-after-11(data-bespoke-fx-transition='move-out-scale-up')
        pre
         .judul SEJARAH PERKEMBANGAN VGA
         div.img
           img(src="images/2.jpg" width="500px" height="200px")
          div.isi2
            | 
            | 
            | 
            | 
            | 
            | 
            | Pada sebuah PC ada 3 komponen yang sangat berperan penting
            | 
            | dalam hal kinerja grafis: prosesor, memori, dan kartu VGA. 
            | 
            | VGA (Video Graphics Adapter), adalah standar tampilan komputer analog.
            | 
            | VGA juga bisa diartikan sebagai komponen yang tugasnya menghasilkan
            | 
            | visual dari komputer dan hardware yang memberikan perintah kepada 
            | 
            | monitor untuk menampilkan keluaran visual yang dapat kita lihat. 
            | 
            | VGA pertama kali dipasarkan pada tahun 1987 oleh IBM.
            | 
            | VGA terdiri atas dua jenis, yaitu: