section.bespoke-slide.bespoke-inactive.bespoke-after.bespoke-after-12(data-bespoke-fx-transition='scale-up-up')
        pre
         .judul VGA onboard
         div.img
           img(src="images/3.jpg" width="500px" height="100px")
          div.isi2
            | VGA onboard adalah unit pemroses yang telah menyatu pada motherboard,
            | 
            | maka VGA card tidak diperlukan lagi. Keberadaan chipset VGA onboard ini
            | 
            | tidaklah bersifat tetap karena VGA onboard ini dapat diatur untuk tidak aktif
            | 
            | jika user ingin memasang VGA card yang diinginkannya. 
            | 
            | Sejak IBM PC lahir pada tahun 1981 nyaris semua PC mempunyai memori terpisah
            | 
            | untuk frame buffer, yaitu block memori dimana gambar yang keluar 
            | 
            | di layar monitor dipetakan. Ini bukan masalah bagi sistem yang memiliki 
            | 
            | video monochrome bebasis karakter. Karena frame buffer
            | 
            | yang diperlukan hanya 2 KB. Tetapi GUI (Graphical User Interface) 
            | 
            | yang berbasis modern yang memerlukan layar bit mapped yang bersolusi tinggi
            | 
            | dan warna sejati sangat rakus memori.