section.bespoke-slide.bespoke-inactive.bespoke-after.bespoke-after-11(data-bespoke-fx-transition='scale-down-up')
        pre
         .judul2 VGA CARD
         div.img
           img(src="images/4.jpg" width="500px" height="200px")
          div.isi2
            | 
            | 
            | 
            | 
            | 
            | 
            | Sejak sistem PC IBM pertama, didalam computer pasti ada unit kartu grafis,
            | 
            | entah itu CGA, EGA, MCGA , VGA, atau yang lain.
            | 
            | Dengan menggunakan kartu VGA bukan onboard maka akan didapatkan 
            | 
            | kinerja yang lebih baik daripada sistem yang menggunakan 
            | 
            | UMA (Unified Memori Architecture). Jika dulu sebuah kartu grafis 8 bit 
            | 
            | dengan memori 512 KB yang dapat menampilkan 256 warna pada resolusi 640 X 480
            | 
            | sudah cukup, maka sekarang tidak lagi. Kebutuhan minimal untuk 
            | 
            | komputer multimedia adalah kartu grafik 64 bit dengan memori 1 MB.