section.bespoke-slide.bespoke-inactive.bespoke-after.bespoke-after-14(data-bespoke-fx-transition='glue')
        pre
         .judul2 Memory yang digunakan pada graphic card
            | 
            | 
            | DRAM(Dynamic Ram)
         div.img
           img(src="images/5.jpg" width="500px" height="200px")
          div.isi2
            | 
            | 
            | 
            | 
            | 
            | 
            | DRAM (Dynamic Random Access Memory) memiliki waktu proses 80 ns atau 70 ns, 
            | 
            | ada pula MD-RAM (Multiple Dynamic RAM) yang mana menggunakan DRAM berlapis.
            | 
            | DRAM dapat digunakan pada graphic card baik yang 8, 16, maupun 32 bit. 
            | 
            | Penggunaan DRAM biasa ditujukan untuk komputer dengan tingkat entry level,
            | 
            | yang tidak memerlukan kecepatan proses yang tinggi dan warna yang banyak.