section.bespoke-slide.bespoke-inactive.bespoke-after.bespoke-after-15(data-bespoke-fx-transition='flip')
        pre
         .judul2 EDO RAM
         div.img
           img(src="images/6.jpg" width="500px" height="200px")
          div.isi2
            | 
            | 
            | 
            | 
            | 
            | 
            | EDO RAM banyak ditemui pada graphic card 64 bit.
            | 
            | EDO RAM yang biasa digunakan memiliki kecepatan 60 MHz 
            | 
            | waktu proses bisa berkisar antara 60 ns hingga 40 ns. 
            | 
            | Contoh graphic card yang menggunakan EDO RAM adalah WinFast S280/S600 3D,
            | 
            | Diamond Stealth 2000 3D, ATi Mach 64.