section.bespoke-slide.bespoke-inactive.bespoke-after.bespoke-after-16(data-bespoke-fx-transition='fall')
        pre
         .judul2 VRAM
         div.img
           img(src="images/vram.jpg" width="500px" height="200px")
          div.isi2
            | 
            | 
            | 
            | 
            | 
            | 
            | VRAM (Video RAM) dengan waktu proses 20 atau 10 ns.
            | 
            | Harga dari VRAM lebih mahal bila dibandingkan dengan DRAM.
            | 
            | Hal tersebut karena VRAM memiliki kecepatan yang lebih tinggi dari DRAM.
            | 
            | Penggunaan VRAM pada graphic card biasa ditujukan untuk komputer dengan 
            | 
            | keperluan khusus, semisal untuk bermain game maupun untuk design graphic. 
            | 
            | Contoh graphic card yang menggunakan VRAM adalah Diamond Fire GL, 
            | 
            | Diamond Stealth 3000 3D, Diamond Stealth 64.