section.bespoke-slide.bespoke-inactive.bespoke-after.bespoke-after-17(data-bespoke-fx-transition='newspaper')
        pre
         .judul2 SGRAM
         div.img
           img(src="images/SGRAM.jpg" width="500px" height="200px")
          div.isi2
            | 
            | 
            | 
            | 
            | 
            | 
            | SGRAM (Synchronous Graphic RAM) memiliki waktu proses kurang dari 10 ns,
            | 
            | SGRAM pada graphic card juga berdasarkan pada teknologi SDRAM 
            | 
            | pada memory utama komputer. SGRAM banyak digunakan pada graphic card 
            | 
            | dengan kemampuan 3D accelerator. Contoh dari graphic card yang menggunakan SGRAM 
            | 
            | antara lain ialah Matrox MGA Millenium, Matrox Mystique 3D,
            | 
            | Diamond Stealth II S220,Diamond Viper, ASUS 3D Explorer, ATI Rage II 3D Pro.