section.bespoke-slide.bespoke-inactive.bespoke-after.bespoke-after-18(data-bespoke-fx-transition='push')
        pre
         .judul2 RAMBUS
         div.img
           img(src="images/rambus.jpg" width="500px" height="200px")
          div.isi2
            | 
            | 
            | 
            | 
            | 
            | 
            | RAMBUS merupakan memory yang digunakan pada 
            | 
            | console game Nintendo maupun Sega.
            | 
            | Sejauh ini graphic card produksi Creative Labs yang menggunakannya.