section.bespoke-slide.bespoke-inactive.bespoke-after.bespoke-after-1
        pre
         .judul All About Graphic Card
         div.img
           img(src="images/1.png" width="500px" height="200px")
          div.isi
          ul.team
            li Anggota 1 Nama: Charles              ( 14.111.1758 )
            li Anggota 2 Nama: Achmad Hanafi  ( 14.111.3651 )
            li Anggota 3 Nama: Ade Suganda     ( 14.111.2338 )
            li Anggota 4 Nama: Edelman Lase    ( 14.111.2354 )
            li Anggota 5 Nama: Erwin Silalahi     ( 14.111.4860 )