doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title All About Graphic Card
    link(rel='stylesheet', type='text/css', href='gaya/main.css')
    link(rel='stylesheet', type='text/css', href='gaya/animations.css')
    link(rel='stylesheet', type='text/css', href='gaya/style.css')
  body
    article
        include cover
        include 1
        include 2
        include 3
        include 4
        include 5
        include 6
        include 7
        include 8
        include 9
        include 10
        include 11
        include 12
        include 13
        include 14
        include 15
        include 16
        include 17
        include 18
        include 19		
        include last
    script(src='gaya/modernizr.js', type='text/javascript', charset='utf-8')
    script(src='gaya/bespoke.js')
    script(src='gaya/bespoke-fx.js')
    script(src='gaya/demo.js')